html {
	height: 100%;
	overflow-y: hidden;
	font-family: sans-serif;
}

body {
	height: 100%;
}

.displayMap, .displayPhotos {
	display: none;
	width: 100%;
	height: 100%;
}

.systeme {
	display: none !important;
	width: 100%;
	height: 100%;
}

.map {
	height: calc(100% - 64px); /* 100% - hauteur de la navbar (64px) */
	width: 100%;
	position: relative;
}

.datas {
	display: none;
	width: 100%;
	height: calc(100% - 64px); /* 100% - hauteur de la navbar (64px) */
}

.datas .carouselContainer {
	width: calc(100% - 100px);
	float: left;
	top: 64px;
	left: 0;
	overflow-y: scroll;
	position: absolute;
	display: none;
	z-index: 10;
}

.datas .interventions {
	height: calc(100% - 64px); /* 100% - hauteur de la navbar (64px) */
	float: left;
	width: 390px;
	padding: 10px;
	top: 64px;
	left: 0;
	overflow-y: scroll;
	position: absolute;
}

.datas .interventions table tbody tr {
	cursor: pointer;
}

.datas .middle {
	width: calc(100% - 490px);
	height: calc(100% - 64px);
	float: left;
	margin-left: 390px;
	top: 64px;
	left: 0;
	overflow-y: scroll;
	position: absolute;
}

.datas .middle .top {
	width: calc(100% - 507px);
	position: fixed;
	padding: 0;
	margin: 0;
	height: calc((100% / 2) - 100px);
	border-bottom: 1px solid #eee;
	display: block;
}

.datas .middle .top .filiations {
	width: calc(100% / 2);
	height: 100%;
	overflow-y: scroll;
	margin-top: 0px;
	display: inline-block;
}

.datas .middle .top .details {
	width: calc(100% / 2);
	height: 100%;
	overflow-y: scroll;
	display: inline-block;
	float: right;
}

.datas .middle .graphRotation {
	height: 300px;
	position: relative;
	margin-top: calc(100% / 2);
	display: block;
}

.datas .middle .barChartEffluent, .datas .middle .pointsChartSemis {
	min-height: 300px;
	width: 100%;
	position: relative;
	display: block;
}

.datas .middle .pointChartsAdventices, .datas .middle .pointsChartsPtsAdventices {
	min-height: 400px;
	position: relative;
	display: block;
}

.datas .middle .pointsChartFlores {
	min-height: 200px;
	position: relative;
	display: block;
}

.datas .middle .graphRotation svg, .datas .middle .barChartEffluent svg, .datas .middle .pointsChartSemis svg {
	width: 100%;
	height: 100%;
	margin-right: 100px;
}

.datas .middle .graphRotation text {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font: 14px sans-serif;
	color: #000;
}

svg rect {
	cursor: pointer;
}

.toolTip {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 14px sans-serif;
	padding: 5px;
	text-align: center;
}

.datas .middle .graphRotation .axis text {
	font: 14px sans-serif;
	cursor: pointer;
}

.datas .middle .graphRotation .axis path {
	fill: none;
	stroke: #000;
}

.datas .middle .graphRotation .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.datas .middle .graphRotation .x.axis path {
	display: none;
}

.datas .middle .triangleTexture {
	width: 400px;
	height: 400px;
	display: inline-block;
}

.datas .middle .pointsFertiTextures {
	width: calc((100% - 400px) - 20px);
	height: 380px;
	padding: 10px;
	display: inline-block;
}

.datas .middle .tableauPointFeri {
	width: 100%;
	min-height: calc(100% - 410px);
	border-top: 1px solid gray;
	padding: 10px;
}

.datas .middle.fullScreen {
	margin: 0;
	width: calc(100% - 100px);
}

.datas .buttons {
	height: calc(100% - 64px); /* 100% - hauteur de la navbar (64px) */
	width: 100px;
	float: right;
	top: 64px;
	right: 0;
	overflow-y: scroll;
	position: absolute;
	padding: 10px;
	background-color: #FFFEFD;
	text-align: center;
}

.datas .buttons ul li {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 10px 0;
	cursor: pointer;
	line-height: 60px;
	transition: all 0.5s ease-in;
}

.datas .buttons ul li img {
	width: 60%;
	vertical-align: middle;
}

.datas .buttons ul li:hover {
	background-color: #6C7A89;
	color: #fff;
}

.datas .buttons ul li:not(.active) {
	opacity: 0.5;
	transition: all 0.5s ease-in;
}

.datas .buttons ul li:hover:not(.active) {
	opacity: 1;
	background-color: #6C7A89;
	color: #fff;
}

.datas .buttons ul li.active {
	-moz-box-shadow: 0px 0px 10px 0px #2C3E50;
	-webkit-box-shadow: 0px 0px 10px 0px #2C3E50;
	-o-box-shadow: 0px 0px 10px 0px #2C3E50;
	box-shadow: 0px 0px 10px 0px #2C3E50;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#2C3E50, Direction=NaN, Strength=10);
}

.btn {
	margin: 0 5px 0 5px;
}

.imgBtn {
	vertical-align: middle;
}

.infosPa {
	min-width: 230px;
	min-height: 50px;
	position: fixed;
	background-color: #fff;
	padding: 10px;
	float: right;
	top: 90px;
	right: 30px;
	z-index: 10;
	border-radius: 3px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.8);
	display: none;
	color: #000;
}

.infosPa p {
	line-height: auto;
}

.infosPa .close {
	cursor: pointer;
	position: absolute;
	float: right;
	top: 10px;
	right: 10px;
	width: 10px;
	height: 10px;
}

.recap {
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
	text-align: center;
	line-height: 26px;
	top: 130px;
	left: 10px;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
	color: #000;
	cursor: pointer;
}

#toast-container {
	min-width: 100% !important;
	top: 0% !important;
	margin-right: 150px;
}

.axis path,	.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}